.footer {
  min-height: 120px;
  background-color: #333;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "CreatoDisplay-RegularItalic";
  font-size: clamp(0.75rem, 0.5rem + 1vw, 1.125rem);
}

.footer__copyright {
  color: #eee;
  margin: 10px;
  white-space: nowrap;
}

.footer__contenedor {
  display: flex;
  align-items: center;
  transition: transform 0.5s ease;
}

.footer__contenedor:hover {
  transform: translateY(-3px);
}

.footer__link {
  white-space: nowrap;
  color: #ededed;
  text-decoration: underline;
  text-decoration-color: #e336;
}

.footer__icon {
  color: #fff;
  padding-right: 5px;
  color: var(--secundary-color-dark);
}

.footer__nav {
  display: flex;
  width: 100%;
  justify-content: center;
}

.footer__nav ul {
  list-style: none;
}

.footer__nav li {
  display: inline-block;
}

.footer__nav a {
  text-decoration: underline;
  text-decoration-color: #e336;
  color: #fff;
  text-transform: lowercase;
  margin: 0 5px;
}